if TARGET_JACKPOTLTE

config EXYNOS7885
	bool "Exynos7885 SoC support"
	default y

config SYS_BOARD
	default "jackpotlte"

config SYS_VENDOR
	default "samsung"

config SYS_CONFIG_NAME
	default "jackpotlte"

endif
